.dashboard-content {
  background-color: #d9d9d9;
  display: flex;
  flex-grow: 1;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}

.information {
  display: flex;
  gap: 10px;
}
.info {
  display: flex;
  padding: 5px;
}
.general-info-content {
  background-color: #a8c7da;
  height: 200px;
  border-radius: 25px;
  padding: 15px;
  flex: 1;
}
.calendar {
  background-color: #a8c7da;
  height: 200px;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.visits-header {
  flex-direction: column;
  display: flex;
  padding: 10px;
}
.quick-access {
  display: flex;
  flex: 1;
  background-color: #a8c7da;
  border-radius: 25px;
  padding: 10px;
}
